.sub-tree {
    white-space: nowrap;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.sub-tree .fns {
    display: inline-flex;
    padding: 0 10px;
}

.sub-tree .name {
    padding: 0 10px;
    line-height: 2;
    background-color: antiquewhite;
    margin: 0 2px;
}
.sub-tree .name .flod {
    cursor: pointer;
}
